<div class="group">
  <%= f.select :markup, options_for_select(['Markdown','Textile']) %>
  <%= f.text_area :content, :class => 'note-field' %>
  <div class="description">
    <p>Formatting help for <a class="external" href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> and <a class="external" href="http://redcloth.org/hobix.com/textile/">Textile</a></p>
  </div>
</div>
