<% if @favorite.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @favorite.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="group required">
  <%= f.label :name, :class => 'label' %>
  <%= f.text_field :name %>
</div>

<div class="group">
  <%= f.submit :class => 'button' %>
</div>
