<% content_for :page_title, "Favorites" %>
<% content_for :display_title, "Favorites" %>

<table>

<% @favorites.each do |favorite| %>
  <tr>
    <td><%= link_to_favorite favorite %></td>
    <td>
      <%- if can? :edit, favorite -%>
        <%= edit_link favorite %>
      <%- end -%>
    </td>
    <td>
      <%- if can? :destroy, favorite -%>
        <%= destroy_link favorite %>
      <%- end -%>
    </td>
  </tr>
<% end %>
</table>
