<% content_for :page_title, "Favorites" %>
<% content_for :display_title, "Favorites" %>

<table>

<% @favorites.each do |favorite| %>
  <tr>
    <td><%= link_to_favorite favorite %></td>
    <td>
      <%- if can? :edit, favorite -%>
        <%= link_to 'Edit', edit_favorite_path(favorite), :class => 'tooltip edit-link', :title => 'Edit this favorite' %>
      <%- end -%>
    </td>
    <td>
      <%- if can? :destroy, favorite -%>
        <%= link_to 'Destroy', favorite, :confirm => 'Are you sure?', :method => :delete, :class => 'destroy-link tooltip', :title => 'Delete this favorite' %>
      <%- end -%>
    </td>
  </tr>
<% end %>
</table>
