<%= render 'form' %>

<div class="controls">
  <%- if can? :create, Client -%>
    <%= link_to 'New Client', new_client_path, :class => 'button', :id => 'new-client' %>
  <%- end -%>
</div>

<div class="clear"></div>
<%- if @results %>
  <div id="results-list">
    <%- if params[:query].first == '$' %>
      <%= render :partial => 'entities/search_row', :collection => @results %>
    <%- else %>
      <%= render :partial => 'clients/row', :collection => @results %>
    <%- end %>
  </div>
<%- end %>
