<% content_for :main_action do %>
  <%- if can? :create, Entity -%>
    <%= link_to 'New Entity', new_client_entity_path(client), :class => 'button' %>
  <%- end -%>
<% end %>

<% content_for :actions do %>
  <%- if can? :update, Project %>
    <li><%= link_to 'Manage Projects', client_projects_path(client) %></li>
  <%- end -%>
  <%- if can? :edit, Client -%>
    <li><%= edit_link client %></li>
  <%- end -%>
  <%- if can? :delete, Client -%>
    <li><%= destroy_link client %></li>
  <%- end -%>
<% end %>
