<%= content_for :page_title, "Editing Entity" %>

<section class="block">
  <section class="content">
    <header><h2 class="title">Editing <%= @entity.name %></h2></header>
    <section class="inner">
      <%= form_for(@entity, :html => { :class => 'form' }) do |f| %>
        <%= render 'form', :f => f %>
      <% end %>
    </section>
  </section>
</section>
