<%= content_for :page_title, "New Entity" %>

<section class="block">
  <section class="content">
    <header><h2>New Entity</h2></header>
    <section class="inner">
    <%= form_for([@client, @entity], :html => { :class => 'form' }, :validate => true) do |f| %>
        <%= render 'form', :f => f, :action => 'Create' %>
      <% end %>
    </section>
  </section>
</section>
