/****************************
  DEFAULTS
****************************/
html, body { height: 100%; }

/****************************
  HEADER
****************************/
#header h1 {
  color: #EAEAEA;
}

/****************************
  COLORS
****************************/
body, #main { background: #fff; }

/****************************
  STRUCTURE
****************************/
#main { width: 100%; }

/****************************
  CLIENT LIST
****************************/
#client-list .row { 
  background: #F3F8FB;
  margin: 0 0 5px;
  border: 1px solid #B9CAD4; 
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#client-list .row .data div { float: left; padding: 0 10px; }
#client-list .row:hover { 
  background: #ff9; 
  margin: 0 0 5px;
}

a#new-client { float: right; }

/****************************
  ENTITY LIST
****************************/
#entity-list .group {
  float: left;
  width: 25%;
  margin: 5px;
  border: 1px solid #000;
}

#entity-list .group h3 {
  color: #EAEAEA;
  background: #232C30;
  padding: 2px 3px;
  margin: 0;
}

#entity-list .group .entity {
  clear: both;
  padding-left: 3px;
}

#entity-list .group .entity .name { 
  float: left;
}


/****************************
  FOOTER
****************************/
#footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 0;
}

#footer .block {
  width: 50%;
  padding: 5px 0;
  margin: 0;
}

#footer .block.left {
  float: left;
  text-align: left;
}
#footer .block.right {
  float: right;
}

#footer .block p {
  margin: 0;
  padding: 0 10px;
}

/****************************
  CONTROL LINKS
****************************/
.controls {
  padding: 5px;
  float: right;
  background: #D7E0E5;
  border-left: 1px solid #C5D3DC;
}

.controls ul li {
  display: block;
  float: left;
}

.controls a {
  float: left;
}

a.edit-link {
  width: 16px; height: 16px;
  background: url(/images/icons/glyphicons_000_pencil.png) no-repeat;
  display: block;
  text-indent: -9999px;
}

a.destroy-link {
  width: 16px; height: 16px;
  background: url(/images/icons/glyphicons_132_circle_remove.png) no-repeat;
  display: block;
  text-indent: -9999px;
}

/****************************
  NOTICES
****************************/
div.flash-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: none;
  font-size: 14pt;
  padding: 5px 10px;
}
div.flash-message.notice { background: green; color: #fff; }
div.flash-message.error { background: red; color: #fff; }

/****************************
  LOGIN PAGE
****************************/
#box.login {
  width: 300px;
  padding: 30px;
  background: #fff;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 2px 2px 2px #999;
  -webkit-box-shadow: 2px 2px 2px #999;
  box-shadow: 2px 2px 2px #999;
}

#box.login h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 40px;
}

#box.login h2 span {
  font-size: 75%;
}

/****************************
  BOOKMARKS MENU
****************************/
.bookmarks-list ul {
  list-style-type: none;
}

/****************************
  FORM ELEMENTS
****************************/
form .field.required label:after {
  content: '*';
}

/****************************
  FIELDSETS
****************************/
fieldset.collapsible legend {
  background: url(/images/icons/menu-expanded.png) no-repeat left center;
  padding-left: 10px;
}

fieldset.collapsible.collapsed legend {
  background: url(/images/icons/menu-collapsed.png) no-repeat left center;
}
