/****************************
  DEFAULTS
****************************/
th { text-align: left; }

/****************************
  CONTROL LINKS
****************************/
a.edit-link {
  width: 16px; height: 16px;
  background: url(/images/icons/pencil.png) no-repeat;
  display: block;
  text-indent: -9999px;
}

a.destroy-link {
  width: 16px; height: 16px;
  background: url(/images/icons/delete.png) no-repeat;
  display: block;
  text-indent: -9999px;
}

/****************************
  FOOTER
****************************/
#footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
}

#footer .block {
  padding: 5px;
  margin: 0;
}

#footer .block p {
  margin: 0;
}

/****************************
  NOTICES
****************************/
div.flash-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: none;
  font-size: 14pt;
  padding: 5px 10px;
}
div.flash-message.notice { background: green; }
div.flash-message.error { background: red; color: #fff; }

/****************************
  LOGIN PAGE
****************************/
#box.login {
  width: 300px;
  padding: 30px;
  background: #fff;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 2px 2px 2px #999;
  -webkit-box-shadow: 2px 2px 2px #999;
  box-shadow: 2px 2px 2px #999;
}

#box.login h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 40px;
}

#box.login h2 span {
  font-size: 75%;
}