<% content_for :page_title, "Editing #{@user.username}" %>

<section class="block">
  <section class="content">
    <header><h2>Editing <%= @user.username %></h2></header>
    <section class="inner">
      <%= render 'form' %>
    </section>
  </section>
</section>
