<%- links = ['Entity Keys', 'Entity Types', 'Users'] %>
<div class="secondary-navigation">
  <ul class="wat-cf">
    <%- links.each do |link| %>
      <li class="<%= cycle_with_first_last(link, links) %>"><%= active_link_to link, '/admin/' + link.downcase.gsub(' ', '_') %></li>
    <%- end %>
  </ul>
</div>
