<div class="flash">
  <% flash.each do |type, message| -%>
    <div class="message <%= type %>">
      <p><%= message %></p>
      <a href="javascript:void(0);" class="close">Close</a>
    </div>
  <% end -%>
</div><!--/flash-->
