<div id="footer">
  <div class="block left">
    <p><a href="#container">Back to top</a></p>
  </div>
  <div class="block right">
    <p>Copyright &copy; <%= Time.now.year %> August Ash, Inc.</p>
  </div>
</div>