<div id="footer">
  <div class="block left">
    <p><a href="#container">Back to top</a></p>
  </div>
  <div class="block right">
    <p>&copy; <%= Time.now.year %> Jake and Josh.</p>
  </div>
</div>
