<% if f.object && f.object.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% f.object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>