<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= t("web-app-theme.save", :default => "#{action} Client") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), client_entities_path(@client), :class => "text_button_padding link_button" %>
</div>
