<div class="row">
  <div class="data">
    <div class="name"><%= link_to row.name, row %></div>
    <div class="code"><%= row.client_code %></div>
  </div>
  <div class="controls">
    <ul>
      <li><%= link_to 'Edit', edit_client_path(row), :class => 'edit-link' %></li>
      <li><%= link_to 'Destroy', row, :confirm => 'Are you sure?', :method => :delete, :class => 'destroy-link' %></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>