<nav class="secondary-navigation">
  <ul class="wat-cf">
    <li class="first"><%= active_link_to 'Entities', client_entities_path(client) %></li>
    <li><%= active_link_to 'Notes', client_notes_path(client) %></li>
  </ul>
</nav>
