<% content_for :page_title, "Editing " + @client.name %>

<section class="block">
  <section class="content">
    <header><h2 class="title">Editing <%= @client.name %></h2></header>
    <section class="inner">
      <%= render 'form', :action => 'Update' %>
    </section>
  </section>
</section>
