<% content_for :page_title, "Clients" %>
<% content_for :display_title, "Clients" %>

<div class="controls">
  <%- if can? :create, Client -%>
    <%= link_to 'New Client', new_client_path, :class => 'button', :id => 'new-client' %>
  <%- end -%>
</div>
<div class="clear"></div>

<div id="client-list">
  <%= render :partial => 'row', :collection => @clients %>
</div>
