<% content_for :page_title, "New Client" %>

<section class="block">
  <section class="content">
    <header><h2 class="title">New Client</h2></header>
    <section class="inner">
      <%= render 'form', :action => 'Create' %>
    </section>
  </section>
</section>
