<% content_for :page_title, page_title(@client) %>
<% content_for :display_title, display_title(@client) %>

<div class="controls">
  <%= link_to 'Edit', edit_client_path(@client), :class => 'edit-link' %>
</div>

<!-- Put all of client's projects in select -->
<% options = Array.new(1, ['All', 'all']) %>
<% @projects.each do |project| %>
  <% options << [project.name, project.id] %>
<% end %>

<%= form_tag('project#show', :method => 'get', :id => 'proj_selector') do %>
  <%= select_tag(:project, options_for_select(options, 'all')) %>
<% end %>

