<section class="block notice">
  <h3>Helpful Tips</h3>
  <div class="content">
    <p>Think of <strong>Entity Types</strong> as a high-level categorization for common groups of information (entities/passwords). For each <strong>Entity Type</strong> you can create multiple <strong>Aliases</strong> that will act as a list of reserved words to help normalize categorizations of <strong>Entities</strong> and help avoid mis-categorization.</p>
  </div>
</section>
