<% content_for :page_title, "Editing #{@entity_type.name}" %>

<section class="block">
  <section class="content">
    <header><h2>Editing <%= @entity_type.name %></h2></header>
    <section class="inner">
      <%= render 'form', :action => 'Edit' %>
    </section>
  </section>
</section>
