<% content_for :page_title, "New Entity Type" %>

<section class="block">
  <section class="content">
    <header><h2>New Entity Type</h2></header>
    <section class="inner">
      <%= render 'form', :action => 'Create' %>
    </section>
  </section>
</section>
