<div class="field required">
  <%= f.label :name, "Project Name" %>
  <%= f.text_field :name, :value => 'Default' %>
</div>

<div class="field">
  <%= f.label :domain, "Project Domain" %>
  <%= f.text_field :domain %>
</div>
