<div class="group required">
  <%= f.label :name, "Project Name", :class => 'label' %>
  <%= f.text_field :name %>
</div>

<div class="group">
  <%= f.label :domain, "Project Domain", :class => 'label' %>
  <%= f.text_field :domain %>
</div>
