<%= content_for :page_title, "Editing #{@project.name}" %>

<section class="block">
  <section class="content">
  <header><h2>Editing <%= @project.name %></h3></header>
    <section class="inner">
      <%= render 'form' %>
    </section>
  </section>
</section>
