<%= content_for :page_title, "New Project" %>

<section class="block">
  <section class="content">
    <header><h2>New Project</h3></header>
    <section class="inner">
      <%= render 'form' %>
    </section>
  </section>
</section>
