<div class="block notice">
  <h3>Helpful Tips</h3>
  <div class="content">
    <p><strong>The following roles are hardcoded within the application:</strong></p>
    <blockquote>
      <pre class="example">Owner, Admin, Financial, <br/>Staff, Contractor</pre>
    </blockquote>
    
    <p>These are considered the roles that are absolutely essential to the application, so they <strong>may not be deleted</strong>.</p><p>Any additional roles that are created outside of these will default to <strong>read-only access to <span class="red">Entities</span> that they have been given access to.</p>
  </div>
</div>
