<div class="entity-row-field">
  <div class="field key required">
    <%= f.select :entity_key_id, format_for_select(entity_keys) %>
  </div>

  <div class="field value">
    <%= f.text_field :value %>
  </div>

  <div class="hide delete-message">
    <em>This row will be deleted on save</em>
  </div>

  <%- unless f.object.new_record? %>
    <div class="remove">
      <a href="javascript:void(0);" class="destroy-link tooltip toggle" title="Delete this row">Delete</a>
      <a href="javascript:void(0);" class="hide toggle undo tooltip" title="This row will be deleted on save"><em>Undo?</em></a>
      <%= f.hidden_field :_destroy %>
    </div>
  <%- end %>
</div>
