<section class="block">
  <header>
    <h3>Actions</h3>
  </header>
  <nav>
    <ul class="navigation">
      <% if can? :create, EntityKey %>
        <li><%= link_to 'New Entity Key', new_entity_key_path, :class => '' %></li>
      <% end %>
    </ul>
  </nav>
</section>