<%= content_for :page_title, "Editing #{@entity_key.name}" %>

<section class="block">
  <section class="content">
    <header><h2>Editing <%= @entity_key.name %></h2></header>
    <section class="inner">
      <%= render 'form', :action => 'Update' %>
    </section>
  </section>
</section>
