<%= content_for :page_title, 'New Entity Key' %>

<section class="block">
  <section class="content">
    <header><h2>New Entity Key</h2></header>
    <section class="inner">
      <%= render 'form', :action => "Create" %>
    </section>
  </section>
</section>
